.footer-dark {
  color: white;
  padding: 10px;
  margin-top: 30px;
}
.footer-dark a {
  color: #FF7F11;
}
.footer-dark a:hover {
  color: white;
  opacity: 0.6;
}
.footer-dark p {
  opacity: 0.6;
  font-size: 14px;
}
